@font-face {
  font-family: 'JohnnieWalkerCY-Headline';
  src: url('//s1.vcdn.biz/static/118460961/JohnnieWalkerCY-Headline.ttf') format('truetype'),
  url('//s7.vcdn.biz/static/118461021/JohnnieWalkerCY-Headline.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AAHigherup';
  src: url('//s7.vcdn.biz/static/118460661/AAHigherup.ttf') format('truetype'),
  url('//s1.vcdn.biz/static/118460691/AAHigherup.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}